<form *ngIf="passwordChangeForm" [formGroup]="passwordChangeForm" (ngSubmit)="onSubmit()">
    <table class="table table-borderless">
        <tr>
            <td><label for="firstName">New Password</label></td>
            <td>
                <input class="form-control" type="password" name="password1" formControlName="password1">
            </td>

        </tr>
        <tr>
            <td><label for="lastName">Confirm Password</label></td>
            <td><input class="form-control" type="password" name="password2" formControlName="password2">
            </td>

        </tr>
        
        <tr>
            <input type="submit" class="btn btn-primary" value="Edit">
        </tr>
    </table>            
</form>