<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SampleApp</a>
    <ul id="#navlinks" class="nav navbar-nav navbar-right">
        <li class="nav-item">

            <a *ngIf="!this.authenticationService.loggedIn" class="nav-link" routerLink="/login">Login</a>
            <a *ngIf="this.authenticationService.loggedIn" class="nav-link" (click)="this.authenticationService.logout()" href="#" >Logout</a>
        </li>
        <li class="nav-item">

            <a *ngIf="!this.authenticationService.loggedIn" class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cart">Cart</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/products">Products</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/create-product">Add Product</a>
        </li>
    </ul>
</nav>