<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div class="mx-auto mt-5 col-4 offset-4">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-row my-1">
            <input type="email" name="email" formControlName="email" placeholder="email" class="form-control">
            <div *ngIf="f.email.errors && submitted==true">
                <div *ngIf="f.email.errors.required">
                    <p>Email is required</p>
                </div>
            </div>
        </div>
        <div class="form-row my-1">
            <input type="password" formControlName="password" name="password" placeholder="password" class="form-control">
            <div *ngIf="f.password.errors && submitted==true">
                <div *ngIf="f.password.errors.required">
                    <p>Password is required</p>
                </div>
            </div>
        </div>
        <div class="form-row my-1">
            <input type="submit" class="btn btn-primary mx-auto" value="Login">
            <!-- <a href="#" class="btn btn-primary mx-auto">Submit</a> -->
        </div>
    </form>
</div>